.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.HERO > img {
  padding-bottom: 0;
  overflow: hidden;
  border-radius: 0;
  width: 150px;
  margin-top: 50px;
}

.ABOUT { 
  grid-area: ABOUT; 
  text-align: center;
  align-items: center;
  font-size: 2vw;
  padding-left: 10vw;
  padding-right: 10vw;
  margin-bottom: 50px;
}

.ABOUT > h1{
  width: 35vw;
  margin: 0 auto;
  margin-bottom: 5vw;
  font-size: 5vw;
  border-bottom: .2vw solid black;
}

.ABOUT > p {
  padding: 0;
}

.team {
  width: 80%;
}

.teamSection { 
  display: flex;
  margin: 20px;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  text-align: center;
  font-size: 1.75vw;
  background: #ffffff;
  box-shadow: 7px 7px purple;
  border: .25vw solid black;
  transition: 0.3s;
}

.team > h1 {
  text-align: center;
  margin: auto;
}

.teamSection:hover{
  transition: 0.3s;
  box-shadow: 7px 7px #184871;
}

.teamSection > h2{
  align-self: start;
  font-size: 2.5vw;
  font-weight: 600;
  border-bottom: .2vw solid black;
  padding: 0;
  background: white;
  margin-left: 1vw;
}

.teamSection > p{
  font-weight: 600;
  align-self: start;
  text-align: left;
  margin-left: 1vw;
  padding: 5px 0 0 0;
}

.teamSection > img {
  max-width: 100%;
  width: 20vw;
  height: 20vw;
  object-fit: cover;
  padding-bottom: 0;
  overflow: hidden;
  border-radius: 0;
  border-bottom: .25vw solid black;
}