.container {
  width: 80%;
  display: flex;
  margin: 20px;
  padding: 20px;
  flex-direction: column;
  font-size: 1.75vw;
  background: #ffffff;
  box-shadow: 7px 7px purple;
  border: 0.25vw solid black;
  transition: 0.3s;
}

.voteInput {
  width: 80px;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.rtContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "title title title imgSpot"
    "rtScore rtScore rtScore imgSpot"
    "rpScore rpScore rpScore imgSpot";
    margin-bottom: 1vw;
}

.title {
  grid-area: title;
  align-self: center;
  margin: 0;
}

.rtScore {
  grid-area: rtScore;
  align-self: center;
  margin: 0;
}

.rpScore {
  grid-area: rpScore;
  align-self: center;
  margin: 0;
}

.imgSpot {
  grid-area: imgSpot;
}

.rtContainer > img {
  width: 100%;
  place-self: center center;
  height: auto;
}
