.container {
  width: 80%;
  border: 1px solid black;
  padding: 25px;
  margin: 10px;
  display: flex;
  margin: 20px;
  padding: 20px;
  flex-direction: column;
  font-size: 1.75vw;
  background: #ffffff;
  box-shadow: 7px 7px purple;
  border: .25vw solid black;
  transition: 0.3s;
  justify-content: center;
  align-items: center;
}

.container > button {
  margin-left: 0;
  
}