*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  box-sizing: border-box;
  background-color: white;
  min-height: 100vh;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

form {
  font-family: "Montserrat", sans-serif;
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  background-color: white;
  padding: 10px 10px;
  border: 1px solid rgb(220, 220, 220);
}
button {
  font-family: "Montserrat", sans-serif;
  border-radius: 6px;
  padding: 5px;
  font-weight: 800;
  box-shadow: 2px 2px 2px gray;
}


form label {
  color: black;
  padding-top: 12px;
}
form button {
  width: 50%;
  margin-top: 12px;
  margin-left: 10%;
}

nav {
  top: 0;
  z-index: 1;
  width: 100%;
  height: 80px;
  display: flex;
  position: fixed;
  padding: 12px 20px;
  align-items: center;
  background: white;
  border-bottom: 1px solid rgb(200, 200, 200);
}

nav img {
  width: 50px;
}

nav ul {
  margin: 0;
  width: 100%;
  display: flex;
  list-style: none;
  font-weight: bold;
  align-items: center;
  justify-content: flex-end;
}

nav li {
  margin-left: 35px;
  text-align: right;
}

main {
  margin: 100px auto;
  margin-top: 0;
  padding-top: 80px;
}

a:link {
  text-decoration: none;
}