.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: fit-content;
  position: relative;
  padding: 36px;
  border-radius: 5px;
  border: 10px solid white;
  min-height: fit-content;
  gap: 14px;
  padding: 20px;
  grid-template-columns: repeat(1, 1fr);
}

.container img {
  width: 320px;
}

